.aboutSliderComponent {
  max-width: 100%;
  margin: 0 auto;
  
  &_container {
    width: 100%;
    height: 600px;
    .mySwiper{
      .swiper_slide{
        position: relative;
        .aboutSlider_btn{
          position: absolute;
          left: 20px;
          bottom: 20%;
          z-index: 3;
          background-color: white;
          width: 110px;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 3px;
          padding: 5px;
          button{
            border: none;
            background-color: transparent;
            // font-size: 18px;
            font-weight: 600;
            span{
              color: #1980b6;
            }
          }
          .lines {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 55px;
            .line {
              height: 1px;
              background-color: #1980b6;
            }
            .One {
              width: 100px;
            }
            .Two {
              width: 97px;
            }
            .Three {
    
              width: 94px;
            }
            .Four {
    
              width: 91px;
            }
            .Five {
              width: 88px;
            }
          }
        }
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 530px !important;
    }
    .text {
      background-color: #1980b6;
      color: white;
      height: 100px;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: start;
      padding-left: 20px;
    }
    .swiper-button-next {
      font-weight: 700;
      color: white;
    }
    .swiper-button-prev {
      color: white;
      font-weight: 700;
    }
    
  }
}
@media (max-width: 449.98px) {
  .aboutSliderComponent {
    max-width: 100%;
    display: flex;
    &_container {
      height: 250px;
      width: 280px;
      padding-left: 10px;
      img {
        object-fit: cover;
        height: 200px !important;
      }
      .text {
        background-color: #1980b6;
        color: white;
        height: 55px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        font-family: "Montserrat", sans-serif;
      }
      .swiper-button-next {
        font-weight: 700;
        color: white;
      }
      .swiper-button-prev {
        color: white;
        font-weight: 700;
      }
    }
  }
}
@media (min-width: 450px) and (max-width: 575.98px) {
  .aboutSliderComponent {
    max-width: 100%;
    &_container {
      height: 250px;
      width: 400px;
      margin: 0 auto !important;
      img {
        object-fit: cover;
        height: 200px !important;
      }
      .text {
        background-color: #1980b6;
        color: white;
        height: 55px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        font-family: "Montserrat", sans-serif;
      }
      .swiper-button-next {
        font-weight: 700;
        color: white;
      }
      .swiper-button-prev {
        color: white;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .aboutSliderComponent {
    max-width: 100%;
    &_container {
      width: 100%;
      height: 380px;
      img {
        object-fit: cover;
        width: 100%;
        height: 340px !important;
      }
      .text {
        background-color: #1980b6;
        color: white;
        height: 55px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        font-family: "Montserrat", sans-serif;
      }
      .swiper-button-next {
        font-weight: 700;
        color: white;
      }
      .swiper-button-prev {
        color: white;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .aboutSliderComponent {
    max-width: 100%;
    &_container {
      width: 100%;
      height: 450px;
      img {
        object-fit: cover;
        width: 100%;
        height: 400px !important;
      }
      .text {
        background-color: #1980b6;
        color: white;
        height: 90px;
        font-size: 19px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        font-family: "Montserrat", sans-serif;
      }
      .swiper-button-next {
        font-weight: 700;
        color: white;
      }
      .swiper-button-prev {
        color: white;
        font-weight: 700;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .aboutSliderComponent {
    max-width: 100%;
    &_container {
      width: 100%;
      height: 600px;
      img {
        object-fit: cover;
        width: 100%;
        height: 500px !important;
      }
      .text {
        background-color: #1980b6;
        color: white;
        height: 90px;
        font-size: 19px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 20px;
        font-family: "Montserrat", sans-serif;
      }
      .swiper-button-next {
        font-weight: 700;
        color: white;
      }
      .swiper-button-prev {
        color: white;
        font-weight: 700;
      }
    }
  }
}
