.newsSideComponent {
  &_container {
    &_cards {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &_card {
        width: 400px;
        height: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
        .newsPhoto {
          width: 200px;
          height: 100px;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
        .newsInfo {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .title {
            font-weight: 700;
            font-size: 15px;
          }
          .link {
            color: #1980b6;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .newsSideComponent {
    &_container {
      &_cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto !important;
        // margin-left: 20px;
        &_card {
          width: 300px;
          height: 70px;
          display: flex;
          align-items: center;
          gap: 10px;
          .newsPhoto {
            // width: 100px;
            // height: 100px;
            img {
              object-fit: contain;
              width: 80px !important;
              height: 100px !important;
            }
          }
          .newsInfo {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title {
              font-weight: 700;
              font-size: 10px;
            }
            .link {
              color: #1980b6;
              text-decoration: underline;
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
